@use '../utils' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.6;
  transition: background-color $transition-fast, color $transition-fast;
}
